[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dateutil = "*"
gunicorn = "*"
redis = "*"
coverage = {extras = ["toml"], version = "*"}

[dev-packages]
isort = "*"
autopep8 = "*"
pytest = "*"
coverage = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
